body {
    background-color: #1f252c
}
.fondo-header {
    color: #EFEFEF;
    background-color: #2E3742;
}
.color-btn-way {
    background-color: #D3D329;
    color: black;
}
.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.container-flex-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px #1f252c solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.item-grow-1 {
    flex-grow: 1;
}
.item-grow-2 {
    flex-grow: 2;
}
.item-grow-10 {
    flex-grow: 10;
}
.item-grow-11 {
    flex-grow: 11;
    padding-left: 10px;
}
.span-donacion {
    float: right;
    font-weight: bold;
    color: #D3D329;
}
.card-color {
    background-color: #2E3742;
}
.card-color h5, .card-color p {
    color: white;
}
.progress {
    margin-bottom: 17px;
}
.color-bar-progress {
   background:  linear-gradient(to right, #2E3742, #D3D329);
}
.container-card {
    margin-top: 35px;
}
.h2pixel {
    text-align: center;
    color: white;
    margin-top: 80px;
}
.h4pixel {
    color: white;
    text-align: center;
    font-size: 17px;
}
.card-category {
    text-align: right;
    color: #81D80F !important;
    font-size: 10px;
}
.margin-formu {
    margin: 15px 0px;
}
.bordemensaje {
    border: 1px white solid;
    padding: 35px;
}
.bloqueProyecto {
    margin-top: 65px;
}
.bloqueProyecto p {
    color: white;
}
.numeroPatrocinadores {
    font-size: 52px;
    font-weight: bold;
    color: #D3D329 !important;
    margin-bottom: -11px;
}
.bloqueProyecto img {
    margin: 20px 0px 20px 0px;
}
#recompensas {
    border-top: solid white 1px;
    margin-top: 50px;
    padding-top: 50px;
    border-bottom: solid white 1px;
    padding-bottom: 60px;
}
#recompensas label {
    color: white;
}
#recompensas .position-relative {
    border: solid white 1px;
    padding: 14px;
    margin-top: 20px;
}

#recompensas li {
    background-color: #1f252c;
    color: white;
}

#recompensas p {
    color: #D3D329;
    font-weight: bold;
    font-size: 18px;
}

#recompensas strong {
    font-size: 21px;
}
#recompensas li span {
    float: right;
    color: #D3D329;
    font-weight: bold;
}
#recompensas p span {
    float: right;
    color: #D3D329;
    font-weight: bold;
}
.finalizarcompra h4, .finalizarcompra label {
    color: white;
}
.g-5 {
    margin-top: 20px;
}
.buttonfinal {
    margin-top: 20px;
}
.text-body-secondary, .invalid-feedback {
    color: coral !important;
}